@import "_core-var.scss";
@import "_core-mixins.scss";

*,
*:before,
*:after { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
} 

body{
	background: black;
}