@import "partials/_normalize.scss";

@import "partials/_style-0-main.scss";

@media (max-width : 767px){
  @import "partials/_style-1-mobile.scss";
}

@media (min-width : 768px) and (max-width : 1024px){
  @import "partials/_style-2-tablet.scss";
}

@media (min-width : 1025px){
  @import "partials/_style-3-desktop.scss";
} 