<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body class="{{ page.body.class }}">
    <div class="site">

      <header class="site-header" role="banner">
        
        <!--
          ** Les skips links à présenter restent à définir 
          -->
        <nav class="header-skip-links">
          <ul>
            <li><a href="#">Skip link 1</a></li>
            <li><a href="#">Skip link 2</a></li>
            <li><a href="#">Skip link 3</a></li>
          </ul>
        </nav><!-- .header-skip-links -->

        <div class="header-smartbox">
          
          <nav class="fast-links">
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#"><abbr title="Frequently asked questions">FAQ</abbr></a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </nav>

          <!--
            ** Je ne sais pas trop comment tu envisage la recherche.
            ** Là, je masque .form-block et l'afficherais au clic sur le bouton avec focus clavier sur l'input.
          -->
          <div class="searchbox" role="search">
            <form action="#">
              <div class="form-block form-input" aria-hidden="true" aria-labelledby="show-search">
                <label for="search">Search: </label>
                <input id="search" type="search" />
              </div>
              <button type="button" id="show-search" title="Show the search form" aria-pressed="false">
                Show the search form
              </button>
            </form>
          </div>

          <div class="i18n">
            <a href="#" lang="fr">
              <abbr title="Français">FR</abbr>
            </a>
          </div>

        </div><!-- .header-smartbox -->

        <div class="header-main">

          <h1 class="site-title">
            <a href="/" rel="home">
              <img src="image.png" alt="{{ site.name }}" />
            </a>
          </h1>

          <nav class="site-navigation" role="navigation">
            <ul>
              <li>
                <a href="#">Discover</a>
                <ul>
                  <li><a href="#">Sub menu</a></li>
                  <li><a href="#">Sub menu</a></li>
                </ul> 
              </li>
              <li>
                <a href="#">Live</a>
                <ul>
                  <li><a href="#">Sub menu</a></li>
                  <li><a href="#">Sub menu</a></li>
                </ul> 
              </li>
              <li>
                <a href="#">Activities</a>
                <ul>
                  <li><a href="#">Sub menu</a></li>
                  <li><a href="#">Sub menu</a></li>
                </ul> 
              </li>
              <li>
                <a href="#">Events</a>
              </li>
            </ul>
          </nav>

        </div><!-- .header-main -->

      </header><!-- .site-header -->

      <main class="site-main" role="main">

        <section class="section section-featured-info">
          <div class="section-inner">
            <header class="section-header">
              <h1>Featured info</h1>
            </header>
            <div class="section-content">
              
            <!--
              ** C'est assez complexe ici comme mix de type d'infos et de mise en page.
              ** Même avec beaucoup de réflexion et de volonté, je pense que ça risque d'être trop complexe à administrer pour des gens normaux.
              ** Peut-être juste avoir une grosse colonne avec un item qui est la grosse info à focus dessus, puis une au colonne divisée en deux colonnes avec des items mixtes, on pourrait reconnaitre alors le type d'item via un tag/code couleur (voir http://www.stm.info/fr/presse)
              ** A discuter donc...
            -->

              <div class="focus-on">

                <article>
                  <header class="article-header">
                    <div class="picture">
                      <img src="image.png" alt="">
                    </div>
                    <time datetime="2014-12-19"><abbr title="December">Dec.</abbr> 19, 2014</time>
                    <h1>Discover everything about the city and its secrets</h1>
                  </header>
                  <div class="article-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a interdum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                  </div>
                  <footer class="article-footer">
                    <div class="tag tag-press">press</div>
                    <div class="more">
                      <a href="#" title="Read more about Discover everything about the city and its secrets">
                        Read more
                      </a>
                    </div>
                  </footer>
                </article>

              </div><!-- .focus-on -->

              <div class="featured-articles">

                <div class="articles">

                  <article>
                    <header class="article-header">
                      <div class="picture">
                        <img src="image.png" alt="">
                      </div>
                      <time datetime="2014-12-19"><abbr title="December">Dec.</abbr> 19, 2014</time>
                      <h1>Discover everything about the city and its secrets</h1>
                    </header>
                    <div class="article-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a interdum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                    <footer class="article-footer">
                      <div class="tag tag-event">event</div>
                      <div class="more">
                        <a href="#" title="Read more about Discover everything about the city and its secrets">
                          Read more
                        </a>
                      </div>
                    </footer>
                  </article>

                  <!--
                    ** loop...
                  -->

                </div><!-- .articles -->

              </div><!-- .featured-articles -->

            </div>
          </div>
        </section><!-- .section-featured-post -->

        <section class="section section-events-calendar">
          <div class="section-inner">
            <header class="section-header">
              <h1>Events calendar</h1>
              <div class="see-all">
                <a href="#">View all events</a>
              </div>
            </header>
            <div class="section-content" aria-labelledby="pagination-section-events-calendar">

              <!--
                ** Ici, la complexité est d'arriver à faire quelque chose fonctionnel au clavier.
                ** Je fais donc le html vite fait, il faudra en rediscuter.
              -->

              <div class="articles">
              
                <article>
                  <header class="article-header">
                    <div class="picture">
                      <img src="image.png" alt="">
                    </div>
                    <time datetime="2014-12-19"><abbr title="December">Dec.</abbr> 19, 2014</time>
                    <h1>Chess Master Class III</h1>
                  </header>
                  <div class="article-content">
                    <div class="localization">
                      <a href="#">
                        Portland chess center
                      </a>
                    </div>
                    <time class="duration" datetime="P9H"> <!-- P9H : Period 9 Hours ; see http://en.wikipedia.org/wiki/ISO_8601#Durations -->
                      <time datetime="2014-12-19T09:00:00">9am</time> / <time datetime="2014-12-19T18:00:00">6pm</time>
                    </time>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a interdum mauris. Vestibulum ante ipsum primis in...
                    </div>
                  </div>
                  <footer class="article-footer">
                    <div class="more">
                      <a href="#" title="View event details Chess Master Class III">
                        View event details
                      </a>
                    </div>
                    <div class="add-calendar">
                      <a href="#" title="Add to calendar Chess Master Class III">
                        Add to calendar
                      </a>
                    </div>
                  </footer>
                </article>

                <!--
                  ** loop...
                -->

              </div><!-- .articles -->

            </div>
            <footer class="section-footer">
              <nav class="pagination" id="pagination-section-events-calendar">
                <ul>
                  <li><button type="button" title="Previous view">Prev</button></li>
                  <li><button type="button" title="View 1" aria-pressed="true">1</button></li>
                  <li><button type="button" title="View 2">2</button></li>
                  <li><button type="button" title="View 3">3</button></li>
                  <li><button type="button" title="View 4">4</button></li>
                  <li><button type="button" title="Next view">Next</button></li>
                </ul>
              </nav>
            </footer>
          </div>
        </section><!-- .section-events-calendar -->

        <section class="section section-testimonies">
          <div class="section-inner">
            <header class="section-header">
              <h1>Testimonies</h1>
              <div class="see-all">
                <a href="#">View all testimonies</a>
              </div>
            </header>
            <div class="section-content" aria-labelledby="pagination-section-testimonies">

              <!--
                ** Feature exacte ici aussi à définir, je fait un bloc rapidement
              -->

              <div class="testimonies">

                <div class="testimonie">
                  <div class="picture">
                    <img src="image.png" alt="">
                  </div>
                  <blockquote>
                    <p>Donec a interdum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    <cite>
                      <strong>John Doe</strong>
                      Professionnal spoon juggler
                    </cite>
                  </blockquote>
                </div>

                <!--
                  ** loop...
                -->
                
              </div><!-- .testimonies -->
              
            </div>
            <footer class="section-footer">
              <nav class="pagination" id="pagination-section-testimonies">
                <ul>
                  <li><button type="button" title="Testimonies 1" aria-pressed="true">1</button></li>
                  <li><button type="button" title="Testimonies 2">2</button></li>
                  <li><button type="button" title="Testimonies 3">3</button></li>
                </ul>
              </nav>
            </footer>
          </div>
        </section><!-- .section-testimonies -->

        <section class="section section-services">
          <div class="section-inner">
            <header class="section-header">
              <h1>Services</h1>
              <div class="see-all">
                <a href="#">View all services</a>
              </div>
            </header>
            <div class="section-content">

              <!--
                ** Feature exacte ici aussi à définir
              -->
              
            </div>
          </div>
        </section><!-- .section-services -->

        <section class="section section-press-room">
          <div class="section-inner">
            <header class="section-header">
              <h1>Press room</h1>
              <div class="see-all">
                <a href="#">View all press items</a>
              </div>
            </header>
            <div class="section-content">
              
              <div class="articles">

                <article>
                  <header class="article-header">
                    <time datetime="2014-12-19"><abbr title="December">Dec.</abbr> 19, 2014</time>
                    <h1>Discover everything about the city and its secrets</h1>
                  </header>
                  <div class="article-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a interdum mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                  </div>
                  <footer class="article-footer">
                    <div class="more">
                      <a href="#" title="Read more about Discover everything about the city and its secrets">
                        Read more
                      </a>
                    </div>
                  </footer>
                </article>

                <!--
                  ** loop...
                -->

              </div><!-- .articles -->

            </div>
          </div>
        </section><!-- .section-press-room -->

      </main><!-- .site-main -->

      <footer class="site-footer" role="contentinfo">

        <div class="footer-content">

          <nav class="last-links">
            <div id="last-links-title" class="title">Links</div>
            <ul aria-labelledby="last-links-title">
              <li><a href="/" rel="home">Home</a></li>
              <li><a href="#">Discover</a></li>
              <li><a href="#">Activities</a></li>
              <li><a href="#">Live</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>

          <div class="site-info">
            <div id="site-info-title" class="title">YourCity Information</div>
            <div aria-labelledby="site-info-title">
              <div class="phone">
                1.877.678.5263<br />
                503.257.8355
              </div>
              <address class="address">
                Pioneer Courthouse Square<br />
                701 S.W. Sixth Ave.<br />
                YourCity, Oregon
              </address>
              <div class="mail">
                <a href="malto:info@youcity.com">info@youcity.com</a>
              </div>
              <div class="availability">
                Week 9 a.m. – 5 p.m.<br />
                Weekend 10 a.m. – 5 p.m.
              </div>
            </div>
          </div>

        </div><!-- .footer-content -->

        <div class="footer-map">
          Google map
        </div><!-- .footer-map -->

      </footer><!-- .site-footer -->

    </div><!-- .site -->
  </body>

</html>